<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>
  <header>
    <img src="http://i.imgur.com/uC5Jc5s.gif" title="source: imgur.com" id="headerImg">
    <h1 id = "headerText">FlameWarChest</h1>
    <h5 id = "headerSubText">
      a place to come and fight.</h5>
  </header>

  <%= yield %>

  <footer>
    <ul class="footerLinks">
      <a href="">Login</a>
      <a href="">Topics</a>
      <a href="">Users</a>
      <a href="">Topics</a>
    </ul>
    <p id="footSig"> neuhausneuhaus®</p>
  </footer>

</body>
</html>