<%= @message %>
<form method="POST" action="/login" class = "loginArea">
  <input type="text" name="email" placeholder="email" class="loginField"><br>
  <input type="password" name="password" placeholder="password" class="loginField"><br>
  <input type="submit" value="Login" id="loginButton"><br>
</form>
